<app-home-nav></app-home-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="card mb-3" >
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://clouddevs.com/3dbay/files/preview/960x1152/11632325222ajve66lfaqo7lrrtfzvqpdvqy2ziu1y2wmu6eiezmcv9b5zjtjmjombffkld4wbepf8t1iiewqipxollrqwp0gdzglphlvijrewa.png" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="text-align: center;">SECURITY LOGIN</h5>
                          <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label">Username</label>
                            <input name="username" [(ngModel)]="username" type="text" placeholder="username" class="form-control">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label">Password</label>
                            <input name="email" [(ngModel)]="password" type="password" id="" placeholder="Password" class="form-control">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                            <br>
                            <button (click)="readValue()" class="btn btn-dark">Login</button>
                        </div>
                        <br>
                    
                        </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
            
        </div>
        </div>
    </div>

