<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="card mb-3" >
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="text-align: center;">USER LOGIN</h5>
                          <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label">Email</label>
                            <input name="empEmail" [(ngModel)]="empEmail" type="text" placeholder="username" class="form-control">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label">Password</label>
                            <input name="email" [(ngModel)]="password" type="password" id="" placeholder="Password" class="form-control">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                            <br>
                            <button (click)="readValue()" class="btn btn-dark">Login</button>
                        </div>
                        <br>
                      <div class="text-center small">Don't have an account? <a class="card-link" routerLink="/signup">Sign up</a></div>
                      <div class="text-center small"> Admin page <a class="card-link" routerLink="/login">Admin Login</a></div>
                    
                        </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
            
        </div>
        </div>
    </div>
